
:root {
  padding: 120px;
  background-color: aquamarine;
}

.btn-container {
  display: flex;
  column-gap: 16px;
}

.btn {
  position: relative;
  width: 120px;
  height: 50px;
  font-size: 1.2rem;
}
