
:root {
  padding: 24px;
  background-color: aquamarine;
}

#copy-btn-wrapper {
  --copy-btn-width: 100px;
  --display-copy-message-width: 120px;
  --display-copy-message-height: 40px;
  position: relative;
}

#copy-btn {
  position: absolute;
  width: var(--copy-btn-width);
  height: 50px;
  font-size: 1.2rem;
}

.display-copy-message {
  position: absolute;
  width: var(--display-copy-message-width);
  height: var(--display-copy-message-height);
  top: 60px;
  left: calc(-1 * (var(--display-copy-message-width) - var(--copy-btn-width)) / 2);
  font-size: 1.2rem;
  line-height: var(--display-copy-message-height);
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: black;
  animation: fade-out 2s ease-in forwards;
  user-select: none;
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.display-copy-message::before {
  position: absolute;
  left: calc((var(--display-copy-message-width) - var(--display-copy-message-height)) / 2);
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
  content: "";
}

